<div class="loginContainer">
  <div class="loginMain">
    <form class="loginModules">
      <div class="loginHeading">
        <img src="assets/img/logo.jpeg" height=150 alt="Logo">
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <label htmlFor="username" class="loginlabel">Username</label>
      <input type="text" class="loginInput" [(ngModel)]="credentials.username" name="username"/>
      <label htmlFor="password" class="loginlabel">Password</label>
      <input type="password" class="loginInput" [(ngModel)]="credentials.password" name="pasword"/>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="acceptTC"  id="flexCheckDefault" [(ngModel)]="acceptTC"
        (change)="checkValue(acceptTC?'acceptTC=true':'acceptTC=false')">
        <label class="form-check-label" for="flexCheckDefault">
          Accept Terms & Conditions
        </label>
      </div>
      <!-- <div class="forgetPassword">
        <a href="" [routerLink]="'/forgot-password'">Forget Password?</a>
      </div> -->

      <div class="loginButtons">
        <button class="loginButton"  [disabled]="acceptTC === false" (click)="onSubmit()">Login</button>
      </div>
      <!-- <div class="or">Or</div> -->

      <!-- <div class="registerAcc">
        <a [routerLink]="'/register'">Don't have an account? Register here</a>
      </div> -->
    </form>
  </div>
</div>
