.app-logo {
    height: 50px;
    width: auto;
}
.nav-link {
    //color: #00b4d8 !important;
    color:#ffd700
}
.menu-list {
    background-color: #004a3f !important;
    //background-color: #fff;
}
.menu-list {
    display: flex;
    width: 100%;
    justify-content: center;
}
.navbar {
    border: 1px solid #004a3f;
    
    background-color: #004a3f;
}

nav .navbar-nav li a {
    &:active {
        //background-color: #ffd700;
        font-weight: bold;
        color:#ffd700
    }
    &:focus{
        color:#ffd700
    }
    &:hover{
        color:#ffd700
    }
}
nav .navbar-nav li .dropdown-item {
    &:active {
        //background-color: #ffd700;
        font-weight: bold;
    }
}



