<div class="container mt-5">
  <div class="row">
    <mat-tab-group>
      <mat-tab label="Disclaimer">
        <h4>Key Disclaimers:</h4>
        <p>
          Accuracy of Information: The portal does not guarantee the accuracy,
          authenticity, or completeness of the information provided by users.
        </p>
        <p>
          No Liability: Portal is not liable for any disputes, damages, or
          losses arising from the use of the platform.
        </p>
        <p>
          No Endorsement: Portal does not endorse or verify any profiles or
          claims made by users.
        </p>
        <p>
          User Responsibility: Users are responsible for conducting their own
          due diligence before proceeding with any communication or
          relationship.
        </p>
        <p>
          Third-Party Links: KKKR is not responsible for the content or services
          of third-party links or advertisements on the portal. While we try to
          maintain only genuine Service providers, it is the responsibility of Users
          to verify the credentials based on their requirement.
        </p>
      </mat-tab>
      <mat-tab label="Terms & Condition"
        ><h4>Terms and Conditions:</h4>
        <p>
          Eligibility: Users must be at least 18 years old to register and use
          the platform. Both parent of Bride, Groom shoud be Brahmin
        </p>

        <p>
          Account Security: Users are responsible for maintaining the
          confidentiality of their account credentials.
        </p>

        <p>
          Prohibited Activities: Activities that are not allowed, such as
          creating fake profiles, promoting illicit relationships, or using the
          platform for commercial purposes.
        </p>

        <p>
          Termination of Account: Reserve the right to terminate accounts that
          violate the terms and conditions.
        </p>

        <p>
          Content Ownership: Portal owns the rights to any content uploaded by
          users, such as photos or descriptions to share to other prospective
          marriage searchers.
        </p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
