<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4>Preamble:</h4>
        <p>
          <strong>KKKR MATRIMONY</strong> emerged into existence in 2019, with a
          motive of providing support and Free service to the Brahmin Community.
        </p>
        <p>
          <strong> KKKR MATRIMONY </strong>created and managed
          separate groups for sharing profiles of prospective Brides and Grooms,
          with WhatsApp groups as Modus Operandi.
        </p>
        <p>
          With More than 1000 floating members in the group, KKKR has managed
          with successful marriage stories. The fruit of the initiative gained
          seeking nothing in return.
        </p>
        <p>
          With 5 plus years in this field, KKKR TAMIL IYER MATRIMONY has not
          charged a single rupee as subscription from the members.
        </p>

        <p>
          Further to this, with an idea to improve the mode of search for
          members, it has been initiated to enter the webportal for better
          access. Also it has been proposed to include Tamil Iyengar profiles
          within the purview.
        </p>
        <p>
          While we respect the service provided by other Paid Matrimony
          services, We like to put forth our interest in serving the cause and
          not competitors for any existing matrimonies. This is a baby step by
          KKKR to support the community at large.
        </p>

        <h4>Vision:</h4>
        <p>
          To serve the Brahmin Community at large, by acting as a medium in
          providing information regarding the prospective profiles and Providing
          opportunities to other businesses within the scope of the Statutory
          Compliance.
        </p>
      </div>
    </div>
  </div>
</div>
