.mt-10 {
    margin-top: 10px;
}

.txt-center {
    text-align: center;
}

.mt-18 {
    margin-top: 18px;
}

.form-disabled {
    pointer-events: none;
}

.btn-container {
    display: flex; /* This is the flex container */
    justify-content: normal;
    gap: 10px;
  }

  button {
    padding: 10px 20px;
  }