/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "constants.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #FFFFF0!important;}

h3{
    color:#004a3f !important;
    
}

.accordion-button {
  &:not(.collapsed) {
    // Your styles here
    color:#004a3f!important;
    background-color: #004a3f52!important;
  }
}

thead th {
    background-color: #FFFFF0!important;
    color: white;
  }

  tbody tr {
    background-color: #FFFFF0!important;
  }

.table-filter,.accordion-body, .card {
  background-color: #FFFFF0!important; 
}

.mat-expansion-panel, select.form-select, input.form-control, textarea.form-control {
  background-color: #FFFFF0!important; 
}



.btn-primary{    
    color: #004a3f!important;
    background-color: #ffd700!important;
    border-color:#004a3f!important;
    &:hover{
        color:#ffd700!important;
        background-color: #004a3f!important;
    }
}

.kkkr-font {
    color:#004a3f !important;
}



@media (max-width: 768px) {
    .hide-mobile {
      display: none !important;
    }
    .mobile-scroll {
      overflow-x: scroll;
    }
  }


